
body {
    margin: 0;
    font-family: "Raleway", serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #623686 !important;
    border-color: #623686 !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #6d20c5d7 !important;
    border-color: #6d20c5d7 !important;
}

